pandas==2.3.3
numpy==2.0.2
scikit-learn==1.6.1
scipy==1.13.1
matplotlib==3.9.4
seaborn==0.13.2
lightgbm==4.6.0
xgboost==2.1.4
statsmodels==0.14.6
pingouin==0.5.5
scikit-posthocs==0.12.0
plotly
streamlit==1.49.0
nbclient==0.10.2
nbformat==5.10.4
